{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col mt-4 d-flex justify-content-center">

            <div class="card w-25">
              <div class="card-body">
                <h4 class="card-title text-center">Modifica Scelta</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                   {{ form | crispy}}
                   <div class =" mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                   
                </form>
              </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}