{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row center">
        <div class="col mt-5 d-flex justify-content-center">
            <div class="card ">
              <div class="card-body">
                <h4 class="card-title text-center">{{ poll }}</h4>
                <form action="{% url 'polls:vote' poll.pk poll.group.pk %}" method="POST">
                    {% csrf_token %}
                    {% for choice in poll.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    <br>
                    {% endfor %}
                    <div class =" mt-4 d-flex justify-content-end">
                        <a class="btn btn-outline-dark" href="{% url 'forum:detailgroup' poll.group.pk %}" >Torna al gruppo</a>
                        <input type="submit" value="Vota" class="btn btn-primary mx-2">
                    </div>
                </form>
              </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}