{% extends 'base.html' %}

{% block title %}Crea Gruppo{% endblock title %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-lg-6"> 
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title text-center">Fonda CinemaClub</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class =" h4 mt-2 d-flex justify-content-end">
                        <a type = "button" class = "btn btn-outline-dark mx-2" href="{% url 'forum:groupspage' %}">Annulla</a>
                        <button class = "btn btn-dark" type="submit">Fonda</button>
                    </div>
                </form>
              </div>
            </div>
           
        </div>
    </div>
</div>
   
{% endblock content %}