{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
      <div class="row container-fluid">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{object.review.movie.poster}}" alt="avatar"
                class="img-fluid w-50">
              <h5 class="my-3">{{ object.review.movie.titolo }}</h5>
              <p class="text-muted mb-2">{{object.review.user.username}}</p>
              <div class="d-flex justify-content-center mb-2">
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recensione</p>
              </div>
              {{object.descrizione}}
          </div>
        </div>


        <div class = "container">
        <div class = "row">
        <div class="card mb-4 mb-md-0 mt-2">
          <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">Modifica Commento</p>                 
                </div>
               
          <div class="card mb-2" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{object.user.userprofile.avatar.image}}"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 80px; height:50px; border-radius: 10px;">
              </div>
                    <div class="flex-grow-1 ms-3">
                      <h5 class="mb-1 font-weight-bold">{{ object.user }}</h5>
                      
                      <form method="post"  > {% csrf_token %}
                        {{ form | crispy}}
                        <div class = "d-flex justify-content-end"> 
                          <a type = "button" class = "btn btn-outline-dark mx-2" href="{% url 'forum:detailreview' object.review.pk %}">Annulla</a>
                          <input type="submit" class="btn btn-dark" value="Conferma">
                        </div>
                      </form>
                    </div>
            </div>
          </div>
          
        </div>
      

      </div>
            </div>
        </div>
      </div>

         
            
      </div>
{% endblock content %}