{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title text-center mb-2">Cambia Password</h4>
     <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class =" h4 mt-2 d-flex justify-content-end">
            <a type = "button" class = "btn btn-outline-dark mx-2" href="{% url 'forum:profilo' request.user.pk %}">Annulla</a>
            <button class = "btn btn-dark" type="submit">Cambia</button>
        </div>
    </form>
  </div>
</div>
    
   
{% endblock content %}