{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %} Registrazione {% endblock %}


{% block content %}
<div class="card mt-5 w-100 container text-center" style="width: 30rem;">
  <div class = "row">
    <h5 class="card-title mt-3">Registrazione</h5>
    <div class = "col mt-2">
      <img class="w-100  " src="{% static '/img/soap.jpg' %}" style = "border-radius: 10px" >
      <div class = "mt-5">
        <ul class = "list-unstyled">
          <li class = "mb-2">Prima regola del MovieCinemaClub: non si parla del MovieCinemaClub. 
          </li>
          <li>
            Seconda regola del MovieCinemaClub: non dovete parlare mai del MovieCinemaClub
          </li>
        </ul>
      </div>
    </div>
    <div class = "col mt-2">
      <div class="card-body ">
        
        <form method="post" class = "" > {% csrf_token %}
          {{form | crispy}}
          <input type="submit" class="btn btn-dark" value="Registrati ora!">
          </form>
      </div>
    </div>
    <div class = "card-footer mt-2">
      Sei già iscritto? <a href = "{% url 'login' %}">Accedi Ora</a>
    </div>
  </div>
    
    
  </div>
{% endblock %}